<div style='position: fixed; bottom: 10px; right: 40px; width:100%; text-align: right; z-index: 1;'>
    <button style="font-size: xx-large">
        <span id="textDirection">Read Marker scan</span>
    </button>
</div>
<a-scene embedded vr-mode-ui="enabled: false;" arjs="debugUIEnabled: false;">

    <a-assets>
        <a-asset-item id="exoFont" src="assets/fonts/exoBlack.typeface.json"></a-asset-item>
        <img id="pixels" src="assets/images/pixels.png" />
    </a-assets>

    <!-- 2D text -->
    <!--    <a-marker markerhandler id="hiThere" type="pattern" url="assets/data/kanji.patt">-->
    <a-marker markerhandler type="pattern" url="../../assets/data/hiro.patt" id="m0">

        <!-- positioning a plane directly below text for increased visibility; need to adjust position to avoid z-fighting.  -->
        <a-plane color="white" rotation="-90 0 0" position="0 -0.25 0" width="3" material="transparent: true; opacity: 0.90"></a-plane>

        <!-- for more properties, see https://github.com/aframevr/aframe/blob/master/docs/components/text.md -->
        <a-text value="Go to .." font="../../assets/fonts/Exo2Bold.fnt" color="red" rotation="-90 0 0" align="center" scale="2 2 2"></a-text>

        <!-- positioning a second copy to attempt drop-shadow effect; need to adjust position to avoid z-fighting -->
        <!-- <a-text value="Hello, world!" font="fonts/Exo2Bold.fnt" color="black" rotation="-90 0 0" align="center" scale="2 2 2" position="0.01 -0.2 0"></a-text> -->


        <!-- avoiding z-fighting is difficult; may want to render canvas to text instead -->

    </a-marker>
    <a-marker markerhandler type="pattern" url="assets/data/letterA.patt" id="m1">

        <!-- positioning a plane directly below text for increased visibility; need to adjust position to avoid z-fighting.  -->
        <a-plane color="white" rotation="-90 0 0" position="0 -0.25 0" width="3" material="transparent: true; opacity: 0.90"></a-plane>

        <!-- for more properties, see https://github.com/aframevr/aframe/blob/master/docs/components/text.md -->
        <a-text value="Go to .." font="assets/fonts/Exo2Bold.fnt" color="red" rotation="-90 0 0" align="center" scale="2 2 2"></a-text>

        <!-- positioning a second copy to attempt drop-shadow effect; need to adjust position to avoid z-fighting -->
        <!-- <a-text value="Hello, world!" font="fonts/Exo2Bold.fnt" color="black" rotation="-90 0 0" align="center" scale="2 2 2" position="0.01 -0.2 0"></a-text> -->


        <!-- avoiding z-fighting is difficult; may want to render canvas to text instead -->

    </a-marker>
    <a-marker markerhandler type="pattern" url="assets/data/letterB.patt" id="m2">

        <!-- positioning a plane directly below text for increased visibility; need to adjust position to avoid z-fighting.  -->
        <a-plane color="white" rotation="-90 0 0" position="0 -0.25 0" width="3" material="transparent: true; opacity: 0.90"></a-plane>

        <!-- for more properties, see https://github.com/aframevr/aframe/blob/master/docs/components/text.md -->
        <a-text value="Go to .." font="assets/fonts/Exo2Bold.fnt" color="red" rotation="-90 0 0" align="center" scale="2 2 2"></a-text>

        <!-- positioning a second copy to attempt drop-shadow effect; need to adjust position to avoid z-fighting -->
        <!-- <a-text value="Hello, world!" font="fonts/Exo2Bold.fnt" color="black" rotation="-90 0 0" align="center" scale="2 2 2" position="0.01 -0.2 0"></a-text> -->


        <!-- avoiding z-fighting is difficult; may want to render canvas to text instead -->

    </a-marker>
    <a-marker markerhandler type="pattern" url="assets/data/letterC.patt" id="m3">

        <!-- positioning a plane directly below text for increased visibility; need to adjust position to avoid z-fighting.  -->
        <a-plane color="white" rotation="-90 0 0" position="0 -0.25 0" width="3" material="transparent: true; opacity: 0.90"></a-plane>

        <!-- for more properties, see https://github.com/aframevr/aframe/blob/master/docs/components/text.md -->
        <a-text value="Go to .." font="assets/fonts/Exo2Bold.fnt" color="red" rotation="-90 0 0" align="center" scale="2 2 2"></a-text>

        <!-- positioning a second copy to attempt drop-shadow effect; need to adjust position to avoid z-fighting -->
        <!-- <a-text value="Hello, world!" font="fonts/Exo2Bold.fnt" color="black" rotation="-90 0 0" align="center" scale="2 2 2" position="0.01 -0.2 0"></a-text> -->


        <!-- avoiding z-fighting is difficult; may want to render canvas to text instead -->

    </a-marker>
    <a-marker markerhandler type="pattern" url="assets/data/letterD.patt" id="m4">

        <!-- positioning a plane directly below text for increased visibility; need to adjust position to avoid z-fighting.  -->
        <a-plane color="white" rotation="-90 0 0" position="0 -0.25 0" width="3" material="transparent: true; opacity: 0.90"></a-plane>

        <!-- for more properties, see https://github.com/aframevr/aframe/blob/master/docs/components/text.md -->
        <a-text value="Go to .." font="assets/fonts/Exo2Bold.fnt" color="red" rotation="-90 0 0" align="center" scale="2 2 2"></a-text>

        <!-- positioning a second copy to attempt drop-shadow effect; need to adjust position to avoid z-fighting -->
        <!-- <a-text value="Hello, world!" font="fonts/Exo2Bold.fnt" color="black" rotation="-90 0 0" align="center" scale="2 2 2" position="0.01 -0.2 0"></a-text> -->


        <!-- avoiding z-fighting is difficult; may want to render canvas to text instead -->

    </a-marker>
    <a-marker markerhandler type="pattern" url="assets/data/letterF.patt" id="m5">

        <!-- positioning a plane directly below text for increased visibility; need to adjust position to avoid z-fighting.  -->
        <a-plane color="white" rotation="-90 0 0" position="0 -0.25 0" width="3" material="transparent: true; opacity: 0.90"></a-plane>

        <!-- for more properties, see https://github.com/aframevr/aframe/blob/master/docs/components/text.md -->
        <a-text value="Go to .." font="assets/fonts/Exo2Bold.fnt" color="red" rotation="-90 0 0" align="center" scale="2 2 2"></a-text>

        <!-- positioning a second copy to attempt drop-shadow effect; need to adjust position to avoid z-fighting -->
        <!-- <a-text value="Hello, world!" font="fonts/Exo2Bold.fnt" color="black" rotation="-90 0 0" align="center" scale="2 2 2" position="0.01 -0.2 0"></a-text> -->


        <!-- avoiding z-fighting is difficult; may want to render canvas to text instead -->

    </a-marker>

    <!-- 3D text -->
    <!--    <a-marker type="pattern" url="assets/data/hiro.patt">-->

    <!--        &lt;!&ndash;-->
    <!--            using aframe-text-geometry component-->
    <!--            can set: bevelSize, bevelThickness, curveSegments, font, height, size, style, value.-->
    <!--            alignment (centering) may be tricky; try calculating bounding box and repositioning.-->
    <!--            for more info, see: https://www.npmjs.com/package/aframe-text-geometry-component-->
    <!--         &ndash;&gt;-->
    <!--        <a-entity text-geometry="value: Hello, world!; font: #exoFont;"-->
    <!--                  material="color: yellow; src: #pixels; repeat: 0.5 0.5;"-->
    <!--                  rotation="-90 0 0">-->
    <!--        </a-entity>-->

    <!--    </a-marker>-->

    <a-entity camera></a-entity>

</a-scene>

<!--<router-outlet></router-outlet>-->


<!--</body>-->
<!--</html>-->

