<p>home-page works!</p>
<!--<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">-->
<!--    <mat-icon>more_vert</mat-icon>-->
<!--</button>-->
<div>
<ul>
    <div>
        <li routerLink="/library">
            <label>View Library</label>
        </li>
        <li routerLink="/newDocument">
            <label>Add new book</label>
        </li>
        <li routerLink="/scanBooks">
            <label>Search book</label>
        </li>
    </div>
</ul>
</div>
